<div class="primeira">
  <table class="tabela">

    <tr>
      <th>Nome: </th>
      <td>Gabriel Goulart dos Santos</td>


    </tr>

    <tr>
      <th>Curso: </th>
      <td>Desenvolvimento de sistemas</td>
    </tr>

    <tr>
      <th>Objetivo Profissional: </th>
      <td>Trabalhar na Área</td>
    </tr>

    <tr>
      <th>Hobbies: </th>
      <td>Academia, Futebol</td>
    </tr>

    <tr>
      <th>Contato Linkedin:</th>
      <td>Gabri.goulart5@gmail.com</td>
    </tr>

    <tr>
      <th>Github:</th>
      <td><a href="https://github.com/GaGoulart/HelloMundo">GaGoulart</a></td>

    </tr>

  </table>

</div>
<router-outlet></router-outlet>
